*{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100vh;
  }

header  {
  background-color: darkslateblue;
  height: 10%;
  }
main  {
  width: 100%;
  display:grid;
  grid-template-columns: 1fr ;
  text-align: center;
  justify-content: center;
  align-items: center;
  }
  
.nav{
  background-color:rgb(179, 200, 241) ;
  }
.maincont{
  background-color:gainsboro ;
  }
.adv{
  background-color:rgb(177, 200, 177) ;
  } 

@media screen and  (min-width: 600px)  {
    main{ 
      grid-template-columns: 1fr 2fr 1fr;
    }
  }


